<mat-toolbar fxLayoutAlign="center center">
  My Todo List
</mat-toolbar>

<section fxLayoutAlign="center">
  <mat-list fxLayout="column">
    <mat-list-item *ngFor="let task of taskList$ | async">
      {{ task.detail }}
      <button mat-icon-button (click)="localEditTask(task)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteTask(task.id)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</section>

<section fxLayoutAlign="center">
  <form
    fxLayout="column"
    fxLayoutGap="10px"
    [formGroup]="taskForm"
    (ngSubmit)="onSubmitNewTask()"
    *ngIf="!isTaskBeingEdited"
  >
    <mat-form-field>
      <input
        matInput
        formControlName="taskField"
        type="text"
        placeholder="Enter a task"
        id="taskField"
      />
      <mat-error *ngIf="taskForm.touched">Task cannot be empty</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="taskForm.invalid"
    >
      Add Task
    </button>
  </form>

  <form
    fxLayout="column"
    #editTaskForm="ngForm"
    (ngSubmit)="onSubmitEditTask(editTaskForm)"
    *ngIf="isTaskBeingEdited"
    fxLayoutGap="10px"
  >
    <mat-form-field>
      <input matInput [ngModel]="currentTask.detail" name="newTaskName" />
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">
      Update Task
    </button>
    <button
      mat-raised-button
      type="reset"
      color="accent"
      (click)="cancelEditing()"
    >
      Cancel
    </button>
  </form>
</section>
