<section fxLayoutAlign="center">
  <mat-list>
    <mat-list-item *ngFor="let task of taskList$ | async">
      {{ task.name }}
      <button mat-icon-button matSuffix (click)="deleteTask(task.id)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</section>

<section fxLayoutAlign="center">
  <form fxLayout="column" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Enter a task"
        ngModel
        name="task"
      />
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Add Task</button>
  </form>
</section>
